{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <style>
    /* CSS comes here */
    body {
        font-family:arial;
        font-size: small;
    }
    input {
        padding: 10px;
        width: 300px;
        border-radius: 5px;
        border: solid 2px #BBB;
    }
    div {
        margin:10px 0px;
    }
    button {
        padding:10px;
        background-color:#6a67ce;
        color: #FFFFFF;
        border: 0px;
        cursor:pointer;
        border-radius: 5px;
    
    }
    .Box {
      border: 2px solid rgb(204, 12, 69) ;
      }
  </style>

</head>

<body>
  

<div class="jumbotron my-4">        
        
  
    <h1 style="text-align: center;">{{course.course_name}}</h1>
    
    
      {% for k in longpassages %}
        <div class="main-content" style="overflow:scroll;width:1000px;margin:20px 0px; height:400px">
          <h3 class="text-info" style="font-size:large">{{k.longpassage_qs}}</h3>
          
        </div>
      {% endfor %}
      {%if emails %}
        <div class="main-content" style="overflow:scroll;width:1000px;margin:20px 0px; height:400px">

      
        
        {% for k in emails %}

          <h3 class="text-info" style="font-size:small">{{k.email_qs}}</h3>

        {% endfor %}
        </div>
      {% endif %}
      {% if listenings %}
            <p class="lead text-light mt-4" style="text-align:left;">Select Voice</p>
          
            <!-- Select Menu for Voice -->
            <select id="voices" class="form-select bg-secondary text-light"></select>
        
            <!-- Range Slliders for Volume, Rate & Pitch -->
            <div class="d-flex mt-4 text-light">
              <div>
                <p class="lead" style="text-align:left;">Volume</p>
                <input type="range" min="0" max="1" value="1" step="0.1" id="volume" />
                <span id="volume-label" class="ms-2">1</span>
              </div>
              <div class="mx-5">
                <p class="lead" style="text-align:left;">Rate</p>
                <input type="range" min="0.1" max="10" value="1" id="rate" step="0.1" />
                <span id="rate-label" class="ms-2">1</span>
              </div>
              <div>
                <p class="lead" style="text-align:left;">Pitch</p>
                <input type="range" min="0" max="2" value="1" step="0.1" id="pitch" />
                <span id="pitch-label" class="ms-2">1</span>
              </div>
            </div>
        
            
        
            <!-- Control Buttons -->
            <div class="mb-5">
              <button id="start" class="btn btn-success mt-5 me-3">Start</button>
              <button id="pause" class="btn btn-warning mt-5 me-3">Pause</button>
              <button id="resume" class="btn btn-info mt-5 me-3">Resume</button>
              <button id="cancel" class="btn btn-danger mt-5 me-3">Cancel</button>
            </div>
      {% for k in listenings %}
            <textarea name="hide" style="display:none;" class="form-control bg-dark text-light mt-5" cols="30" rows="10" placeholder="Type here...">{{k.listening_qs}}</textarea>
        {% endfor %}
      {% endif %}
      
    <form class="form" autocomplete="off" onsubmit="return saveAns()"  action="/student/calculate-marks" method="POST">
    {% csrf_token %}
    <div class="main-content" style="overflow:scroll;margin: 20px 0px;width:1000px ;height:300px">
    {% for q in questions %}
  

   
   
    
    <h3 class="text-info" style="font-size:large;text-align:left;margin-left: 20px;color:rgb(7, 46, 85)">{{q.question}}</h3><h4 style="text-align: right;">[Marks {{q.marks}}]</h4>
    <textarea name="hide" style="display:none;" class="form-control bg-dark text-light mt-5" cols="30" rows="10" placeholder="Type here...">{{q.question}}</textarea>
        <input type="hidden" name="csrfmiddlewaretoken" value="C24rUotmdHawVQJL3KrqiWxvti8UffOFYUc8TRbZtLt36AVLdP3jbkzUVe3beRAa">
        
        
          <div class="form-check mx-4" style="font-size: small;text-align:left">
            <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="{{q.option1}}" value="Option1">
            <label class="form-check-label" style="margin:-130px"for="option1">
              {{q.option1}}
            </label>
          </div>

        
          <div class="form-check mx-4" style="font-size: small;">
            <input class="form-check-input"  type="radio" name="{{ forloop.counter }}" id="{{q.option2}}" value="Option2">
            <label class="form-check-label" style="margin:-130px"for="option2">
              {{q.option2}}
            </label>
          </div>

        
          <div class="form-check mx-4" style="font-size: small">
            <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="{{q.option3}}" value="Option3">
            <label class="form-check-label" style="margin:-130px;" for="option3">
              {{q.option3}}
            </label>
          </div>

        
          <div class="form-check mx-4" style="font-size: small">
            <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="{{q.option4}}" value="Option4">
            <label class="form-check-label" style="margin:-130px"for="option4">
              {{q.option4}}
            </label>
          </div>
        
          
         
    {% endfor %}
    </div>
    
   
    <div class="row">
      <div class="col-md-12">
        {% if questions.has_other_pages %}
            <ul class="pagination">
              {% if questions.has_previous %}
                  <li class="page-item">
                    <a href="?page={{questions.previous_page_number}}" class="page-link">&laquo;</a>
                  </li>
              {% else %}
                 <li class="page-item disabled">
                   <a class="page-link">&laquo;</a>
                 </li>
              {% endif %}
              {% for i in questions.paginator.page_range %}
                 {% if questions.number == i %}
                    <li class="page-item active">
                      <a class="page-link">{{i}}</a>
                    </li>
                  {% else %}
    
                      <li class="page-item">
                        <a href="?page={{i}}" class="page-link">{{i}}</a>
                      </li>
    
                  {% endif %}
    
              {% endfor %}
             
    
              {% if questions.has_next %}
                  <li class="page-item">
                    <a href="?page={{questions.next_page_number}}" class="page-link">&raquo;</a>
                  </li>
              {% else %}
                 <li class="page-item disabled">
                   <a class="page-link">&raquo;</a>
                 </li>
                 <input class="btn btn-info btn-lg"   type="submit" value="Submit"> 

              {% endif %}
          
    
            </ul>
          {% endif %}
          
        
         
          <script> 
            function saveAns(){  
        
                var ele = document.getElementsByTagName('input'); 
                for(i = 0; i < ele.length; i++) { 
                    if(ele[i].type="radio") { 
                        if(ele[i].checked){        
                          setCookie(ele[i].name,ele[i].value,3)
                        }
                    } 
                } 
                  
            }
            
            function setCookie(cname, cvalue, exdays) {
          var d = new Date();
          d.setTime(d.getTime() + (exdays*24*60*60*1000));
          var expires = "expires="+ d.toUTCString();
          document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }
        
        </script> 
        <script >
          // Initialize new SpeechSynthesisUtterance object
      let speech = new SpeechSynthesisUtterance();
      
      // Set Speech Language
      speech.lang = "en";
      
      let voices = []; // global array of available voices
      
      window.speechSynthesis.onvoiceschanged = () => {
        // Get List of Voices
        voices = window.speechSynthesis.getVoices();
      
        // Initially set the First Voice in the Array.
        speech.voice = voices[0];
      
        // Set the Voice Select List. (Set the Index as the value, which we'll use later when the user updates the Voice using the Select Menu.)
        let voiceSelect = document.querySelector("#voices");
        voices.forEach((voice, i) => (voiceSelect.options[i] = new Option(voice.name, i)));
      };
      
      document.querySelector("#rate").addEventListener("input", () => {
        // Get rate Value from the input
        const rate = document.querySelector("#rate").value;
      
        // Set rate property of the SpeechSynthesisUtterance instance
        speech.rate = rate;
      
        // Update the rate label
        document.querySelector("#rate-label").innerHTML = rate;
      });
      
      document.querySelector("#volume").addEventListener("input", () => {
        // Get volume Value from the input
        const volume = document.querySelector("#volume").value;
      
        // Set volume property of the SpeechSynthesisUtterance instance
        speech.volume = volume;
      
        // Update the volume label
        document.querySelector("#volume-label").innerHTML = volume;
      });
      
      document.querySelector("#pitch").addEventListener("input", () => {
        // Get pitch Value from the input
        const pitch = document.querySelector("#pitch").value;
      
        // Set pitch property of the SpeechSynthesisUtterance instance
        speech.pitch = pitch;
      
        // Update the pitch label
        document.querySelector("#pitch-label").innerHTML = pitch;
      });
      
      document.querySelector("#voices").addEventListener("change", () => {
        // On Voice change, use the value of the select menu (which is the index of the voice in the global voice array)
        speech.voice = voices[document.querySelector("#voices").value];
      });
      
      document.querySelector("#start").addEventListener("click", () => {
        // Set the text property with the value of the textarea
        speech.text = document.querySelector("textarea").value;
      
        // Start Speaking
        window.speechSynthesis.speak(speech);
      });
      
      document.querySelector("#pause").addEventListener("click", () => {
        // Pause the speechSynthesis instance
        window.speechSynthesis.pause();
      });
      
      document.querySelector("#resume").addEventListener("click", () => {
        // Resume the paused speechSynthesis instance
        window.speechSynthesis.resume();
      });
      
      document.querySelector("#cancel").addEventListener("click", () => {
        // Cancel the speechSynthesis instance
        window.speechSynthesis.cancel();
      });
      
      </script>
        
  
    
  
    
    

    
  
       
        
    </form>
  </div>

    </div>
  </div>
</body>



<br><br><br><br><br><br>
{% endblock content %}